.App {
  width: 100vw;
  height: 100vh;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
  background: linear-gradient(green,green,brown);
  background-clip: text;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  animation-name: phade;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  z-index: 10;
}

@keyframes phade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.video {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
}

.video-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100px;
  height: 40px;
  border: none;
  background-color: lightgrey;
  color: grey;
}

.info {
  font-size: small;
}

.info h2 {
  font-size: large;
}

.info p {
  line-height: 1.2em;
  margin-bottom: 0.5px;
}

figure {
  margin: 0;
}

.abstract-idea {
  height: 400px;
}

@media screen and (max-width: 767px)  {
  .abstract-idea {
    height: unset;
    width: 180px;
  } 
}